/* 기본 스타일 */
body {
  margin: 0;
  font-family: "Pretendard", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
}

.search-container {
  position: relative;
  width: 75%;
  height: 80%;
  max-width: 400px;
  padding: 2rem;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

/* 검색창 */
.search-bar {
  position: relative;
  top: 1.5rem;
  width: auto;
  display: flex;
  align-items: center;
}

.search-icon-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #111;
  cursor: pointer;
  z-index: 2;
}

.search-input {
  width: 0;
  opacity: 0;
  padding: 0 1rem;
  margin-left: 0.5rem;
  height: 40px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 20px;
  background: #fff;
  transition: width 0.4s ease, opacity 0.3s ease;
  pointer-events: none;
  box-sizing: border-box;
  overflow: hidden;
}

.search-input.active {
  width: 80%;
  opacity: 1;
  pointer-events: auto;
}

/* 추천검색어 */
.search-suggestions {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: flex-start;
}

.suggest-btn {
  padding: 0.5rem 1rem;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 999px;
  font-size: 0.85rem;
  color: #111;
  cursor: pointer;
  transition: all 0.2s ease;
}

.suggest-btn:hover {
  background-color: #f0f0f0;
  border-color: #999;
}

/* 큐앤에이 */

.qnah2 {
  text-align: start;
  margin-top: 3rem;
}

.qnatextbold {
  font-weight: bold;
  font-size: 1rem;
}
.qnatextnomal {
  font-size: 0.8rem;
}

/* 닫기 버튼 */

.search-close-btn {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  width: 36px;
  height: 36px;
  background: none;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 20px;
  color: white;
  background-color: #111;
  z-index: 10;
  border: none;
}

.search-close-btn:hover {
  background-color: #ddd;
}

/* 스와이퍼 */
.qna-swiper {
  width: 100%;
  margin-top: 2rem;
  overflow: visible !important;
}

.qna-container {
  background-color: #fff;
  border-radius: 12px;
  text-align: center;
  height: 150px; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  padding: 1.5rem 1rem;
  box-sizing: border-box;

  display: flex; 
  flex-direction: column;
  justify-content: center;
}

.swiper-pagination {
  margin-top: 1rem;
}
